/* Sticky footer styles
-------------------------------------------------- */
@import url("http://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.min.css")
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);

h2 { 
  font-family: 'Ubuntu Condensed', sans-serif !important; font-weight: 400; 
}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #f8f8f8;
}

.navbar-brand { 
  font-family: 'Ubuntu Condensed', sans-serif !important; font-weight: 400; 
  font-size:24px;
}

.navbar {
    border-radius: 0px !important;
}

/* First level of nav */
.bs-sidenav {
  margin-bottom: 30px;
  padding-top:    10px;
  padding-bottom: 10px;
  /* text-shadow: 0 1px 0 #fff; */
  background-color: #f8f8f8;
  border-radius: 5px;
  border-color: #e7e7e7;
  border-style: solid;
  border-width: 1px;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
  display: block;
  color: #777;
  padding: 5px 20px;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
  text-decoration: none;
  background-color: #e5e3e9;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
  font-weight: bold;
  color: #666;
  background-color: #e5e3e9;
}

.nav-header {
  padding-left: 15px; 
  color: #428BCA; 
  font-weight: bold;
} 

.fill-light-top {
  background-color: #F8F8F8; 
  padding-top: 2px; 
  margin: 0px; 
  margin-top: 7px;
  border-top: 1px solid #E7E7E7; 
  border-left: 1px solid #E7E7E7;
  border-right: 1px solid #E7E7E7;
  -webkit-border-radius: 5px 5px 0 0; 
  -moz-border-radius: 5px 5px 0 0; 
  border-radius: 5px 5px 0 0;
}

.fill-light-bottom {
  background-color: #F8F8F8; 
  padding-top: 5px; 
  margin: 0px; 
  border-bottom: 1px solid #E7E7E7; 
  border-left: 1px solid #E7E7E7;
  border-right: 1px solid #E7E7E7;
  -webkit-border-radius: 0 0 5px 5px; 
  -moz-border-radius: 0 0 5px 5px; 
  border-radius: 0 0 5px 5px;
}

table.table tr:hover td {
  background-color: #BFD8ED;
  /* background-color: #e5e3e9;
  font-weight: bold; */
}

.graph-report {
  border: 1px solid #E7E7E7; 
  border-radius: 5px 5px 5px 5px;
  min-width: 310px; 
  height: 350px;
}

.graph-report-full {
  border: 1px solid #E7E7E7; 
  border-radius: 5px 5px 5px 5px;
  min-width: 310px; 
  height: 700px;
}


/* stop the glowing blue shadow (para busqueda rapida) */
.no-glow,
.no-glow:focus {
 box-shadow:none;
 -webkit-box-shadow:none; 
 border-color:#cccccc; 
}

.reset-search.btn-link, .reset-search.btn-link:hover, .reset-search.btn-link:focus .reset-search.btn-link:active {
color: #333333;
text-decoration: none;
background-color: transparent;
border-bottom-color: #cccccc; 
border-top-color: #cccccc; 
border-radius:0px;
outline: none;
margin-left: -1px;
}

.img-header {
padding-left: 0px;
padding-right: 15px;
} 

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  max-width: none !important;
  width: auto;
}
.container .credit {
  margin: 20px 0;
}

/* Sortable
-------------------------------------------------- */

#sortable1, #sortable2 { 
  list-style-type: none; 
  float: left; 
  margin-right: 10px; 
  background: #eee; 
  padding: 5px; 
  min-width: 100%;
  height: 400px; 
  overflow: auto;
  font-weight: normal;
  margin-bottom: 30px;
  padding-top:    10px;
  padding-bottom: 10px;
  background-color: #f8f8f8;
  border-radius: 5px;
  border-color: #e7e7e7;
  border-style: solid;
  border-width: 1px;


}

#sortable1 li, #sortable2 li { 
  margin: 0 5px 5px 5px; 
  padding: 5px; 
  /* font-size: 1.2em; 
  width: 120px; */
  min-width: 120px; 
}


/*
 * Component: Small Box
 * --------------------
 */

.small-box {
  border-radius: 2px;
  position: relative;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.small-box > .inner {
  padding: 10px;
}
.small-box > .small-box-footer {
  position: relative;
  text-align: center;
  padding: 3px 0;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  z-index: 10;
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
.small-box > .small-box-footer:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.15);
}
.small-box h3 {
  font-size: 38px;
  font-weight: bold;
  margin: 0 0 10px 0;
  white-space: nowrap;
  padding: 0;  
}
.small-box p {
  font-size: 15px;
}
.small-box p > small { 
  display: block;
  color: #f9f9f9;
  font-size: 13px;
  margin-top: 5px;
}
.small-box h3,
.small-box p {
  z-index: 5px !important;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  font-weight: 400 !important;
}  
.small-box .icon {
  position: absolute !important;
  top: -10px !important;
  right: 10px !important;
  z-index: 0 !important;
  font-size: 90px !important;
  color: rgba(0, 0, 0, 0.15) !important;
}
.small-box:hover {
  text-decoration: none;
  color: #f9f9f9;
}
@media (max-width: 767px) {
  .small-box {
    text-align: center;
  }
  .small-box .icon {
    display: none !important;
  }
  .small-box p {
    font-size: 12px;
  }
}
/*
 * Component: Info Box
 * -------------------
 */
.info-box {
  display: block;
  min-height: 90px;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin-bottom: 15px;
}
.info-box small {
  font-size: 14px;
}
.info-box .progress {
  background: rgba(0, 0, 0, 0.2);
  margin: 5px -10px 5px -10px;
  height: 2px;
}
.info-box .progress,
.info-box .progress .progress-bar {
  border-radius: 0;
}
.info-box .progress .progress-bar {
  background: #fff;
}
.info-box-icon {
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  display: block;
  float: left;
  height: 90px;
  width: 90px;
  text-align: center;
  font-size: 45px;
  line-height: 90px;
  background: rgba(0, 0, 0, 0.2);
}
.info-box-icon > img {
  max-width: 100%;
}
.info-box-content {
  padding: 5px 10px;
  margin-left: 90px;
}
.info-box-number {
  display: block;
  font-weight: bold;
  font-size: 18px;
}
.progress-description,
.info-box-text {
  display: block;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 5px !important;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  font-weight: 400 !important;

}
.info-box-text {
  text-transform: uppercase;
}
.info-box-more {
  display: block;
}
.progress-description {
  margin: 0;
}



/*
 * Colores
 * --------------------
 */

.bg-aqua {
  background-color: #00c0ef !important;
  color: #fff !important;
}
.bg-red {
  background-color: #dd4b39 !important;
  color: #fff !important;  
}
.bg-yellow {
  background-color: #f39c12 !important;
  color: #fff !important;   
}
.bg-blue {
  background-color: #0073b7 !important;
  color: #fff !important;   
}
.bg-light-blue {
  background-color: #3c8dbc !important;
  color: #fff !important;   
}
.bg-green, .bg-green a {
  background-color: #00a65a !important;
  color: #fff !important;   
}
.bg-navy {
  background-color: #001f3f !important;
  color: #fff !important;   
}
.bg-teal {
  background-color: #39cccc !important;
  color: #fff !important;   
}
.bg-olive {
  background-color: #3d9970 !important;
  color: #fff !important;   
}
.bg-lime {
  background-color: #01ff70 !important;
  color: #fff !important;   
}
.bg-orange {
  background-color: #ff851b !important;
  color: #fff !important;   
}
